
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #83a4d4, #b6fbff);
    background-size: 200% 200%;
    animation: moving-gradient 15s ease infinite;
    color: #333;
    line-height: 1.6;
    text-align: center;
    padding-top: 50px;
}


.centered-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.page-title {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 0.5em;
    animation: text-flicker 2s infinite alternate;
}

.form-container {
    background: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}
.form {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    display: contents;
}
.form input[type="text"],
.form input[type="password"],
.form input[type="submit"] {
    width: 70%;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button,
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, right 0.4s ease-in-out;
    background-color: #3498db;
    color: white;
    position: relative;
    overflow: hidden;
}

.button:hover,
input[type="submit"]:hover {
    background-color: #2980b9;
}

.button::after,
input[type="submit"]::after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: #45a049;
    z-index: -1;
}

.button:hover::after,
input[type="submit"]:hover::after {
    right: 0;
}

.button:focus,
input[type="submit"]:focus {
    box-shadow: 0 0 10px 0 rgba(72, 159, 72, 0.6);
}


input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

form {
    margin-top: 20px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
}

form h3 {
    margin-bottom: 10px;
    color: #555;
}


.message {
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    transition: transform 0.3s;
}

.message-success {
    background-color: #D4EDDA;
    color: #155724;
}

.message-error {
    background-color: #F8D7DA;
    color: #721C24;
}

.message-update {
    background-color: #2b3b93;
    color: #fcfcfc;
}


.task-container {
    background: #fff;
    margin: 10px auto; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.task-container img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 10px;
}

.task-details {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.task-details p {
    margin: 5px 0;
}


hr {
    margin: 20px auto;
    border: none;
    border-top: 1px solid #ddd;
}
